<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/main.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <section class="homescreen m-0 flex flex-col w-screen justify-center bg-gray-800 h-screen text-gray-100 ">
        <nav>
            <ul class="flex justify-between text-xl py-8 px-8 md:px-48 ">
                <li>
                    Extenv Studio
                </li>
                <li>
                    Made with ❤️
                </li>
            </ul>
        </nav>

        <h1 class="text-6xl  my-auto mx-auto  md:mx-48 ">
            Coding<br />
            <span class="text-teal-400">is Delightful.</span>
        </h1>
    </section>
</body>

</html>